# Web dependencies
flask
flask-cors
gunicorn

# Scraping dependencies
selenium
beautifulsoup4
yt-dlp

# Image/Video processing
opencv-python-headless
Pillow

# Data handling
redis
schedule
tqdm
python-dateutil

# Development tools
python-dotenv
